@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oswald&display=swap');

:root {
    --cor-principal: #000000;
    --cor-secundaria: #FF2400;
    --cor-terciaria: #FFFFFF;
    --cor-hover: #272727;

    --fonte-primaria: 'Oswald', sans-serif;
    --fonte-secundaria: 'Noto Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
}

.cabecalho {
    padding-top: 2%;
    padding-left: 10%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.destaque-titulo {
    color:var(--cor-secundaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family:var(--fonte-primaria) ;
    font-weight: 600;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.subtitulo {
    font-family: var(--fonte-primaria) ;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__conteudo__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.links {
    display: flex;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    text-decoration: none;
    color:var(--cor-principal);
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    color: var(--cor-terciaria);
    border: 2px solid var(--cor-secundaria);
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.links:hover {
    background-color: var(--cor-hover);
    color: var(--cor-secundaria);
    padding: 3%;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    color: var(--cor-principal);
    background-color: var(--cor-secundaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
}

@media (max-width: 1300px) {
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: 80%;
    }
    .cabecalho {
        padding: 10%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
}